.personal-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10%;
}

.personal-info h2 {
    text-align: left;
}

.personal-info input, .personal-info textarea {
    font-size: 1.25rem;
    margin: 5px;
}

.file-upload-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.btn-file-upload {
    border: 2px solid #007bff;
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.file-upload-wrapper input[type=file] {
    display: none;
}

.img-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.img-preview img {
    width: 25%;
}
