.personal-info {
    display: flex;
    flex-direction: column;
}

.personal-info h2 {
    text-align: left;
}

.personal-info input, .personal-info textarea {
    font-size: 1.25rem;
    margin: 5px;
}

