hr {
    width: 100%;
}

.preview-container {
    display: flex;
    flex-direction: column;
}

.personal-info-preview {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-evenly;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name-and-title {
    display: inherit;
    flex-direction: column;
    width: 40%;
}

.contact-info {
    display: inherit;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.preview-photo {
    height: 200px;
    width: 200px;
    margin: 10px auto;
}
